@import "tailwindcss";

.pixels {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

.originPixels {
    font-family: 'VT323', monospace;
}

.crt-bg {
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.12) 1px, transparent 1px),
    radial-gradient(rgba(0, 0, 0, 0.12) 1px, transparent 1px);
  background-size: 40px 40px, 40px 40px;
  background-position: 0 0, 20px 20px;
}

.crt-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: blur(40px);
  pointer-events: none;
}

.crt-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,255,0,0.05) 0px,
    rgba(0,255,0,0.05) 1px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
  mix-blend-mode: overlay;
}

.buble {
    -webkit-animation: up 0.5s ease-out forwards;
    animation: up 0.5s ease-out forwards;
}

    @keyframes up {
      0% {
          opacity: 0;
          -webkit-transform: translateY(50px);
          -moz-transform: translateY(50px);
          -ms-transform: translateY(50px);
          -o-transform: translateY(50px);
          transform: translateY(50px);
}
      100% {
          opacity: 1;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
        }
}


    .fade {
        -webkit-animation: fade 1s ease-out;
        animation: fade 1s ease-out;
}

    @keyframes fade {
        0%{
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }


    @keyframes cardFlipZoom {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) scale(1.2);
  }
  100% {
    transform: rotateY(360deg) scale(1);
  }
}


.animate-card {
  animation: cardFlipZoom 1s ease-in-out forwards;
}

@keyframes cardFlipFlash {
  0% {
    transform: rotateY(0deg) scale(1);
    filter: brightness(1);
  }
  40% {
    transform: rotateY(90deg) scale(1.2);
    -webkit-filter: brightness(5);
    filter: brightness(5);
}
  60% {
    transform: rotateY(270deg) scale(1.2);
    -webkit-filter: brightness(5);
    filter: brightness(5);
}
  100% {
    transform: rotateY(360deg) scale(1);
    filter: brightness(1);
  }
}

.animate-card {
  animation: cardFlipFlash 1s ease-in-out forwards;
}

